


.display_application{
    width: 50%;
    /* border: 1px solid black; */
    border-top: 0px;
}
.compound{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}
.compound_box{
    width: 20%;
    /* height: 100%; */
    /* background-color: #C6C6C6; */
     /* border: 1px solid black; */
     padding-top: 1%;
     cursor: pointer;
     /* background-image: url('../../../public/Unselected.svg');
     background-attachment: initial;
     background-size: cover;
     
     background-repeat: no-repeat; */
 
    
}
.default{
    background-image: url('../../../public/Unselected.svg');
    background-attachment: initial;
    background-size: cover;
    
    background-repeat: no-repeat;
}
.selected{
     background-image: url('../../../public/Selected.svg');
    background-attachment: initial;
    background-size: cover;
    
    background-repeat: no-repeat;
}

.compound_display{
    width: 100%;
    height: 80%;
    /* padding: 0.5%; */
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    position: relative; 
    
    box-sizing: border-box;
    

}
.compound_display_inner1{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius:4px;
    border: 3px solid white;
    padding: 2%;
    /* font: normal normal normal 18px/18px VT323; */

}
/* .compound_display::before {
    content: "";
    position: absolute;
    top: -2.5px; 
    left: 0%; 
    width: 18.5%; 
    height: 2px; 
    border: 2px solid #C6C6C6;
    background-color:#C6C6C6; 
    
    z-index: 1; 
  } */
  

/* .compound_box_spl{
    border-bottom: 0px;
    border-left: 0px;

}
.compound_box_spl1{
    
    border-right: 0px;
} */
.compound_display_inner{
    background-color: #5F5F5F;
    width: 100%;
    height: 100%;
    border: 2px solid #969696;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: justify;
    font: 13px;

}
/* .compound_box_spl0{
    background-color:#969696;
   
}

.compound_box_spl1{
    background-color:#969696;
} */

li{
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1.5em;
    padding-left: 2em;
    text-transform: capitalize;
}

.display_initial_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}