.display_box{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    color: white;
}
.elements{
     display: flex;
     flex-direction: column;
     width: 10%;
     height: 100%;
}
.display_box_inner{
    display: flex;
   
}
.box{
    height: 20px;
    width: 100%;
    border-top:  3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color:  #969696;
}
.display_msg{
    width: 70%;
    /* height: 100%; */
    border: 2px solid #969696;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cross{
    display: flex;
    flex-direction: column;
    width: 10%;
     height: 100%;
     gap: 7px;
}
.cancelIcon{

    
    height: 20px;
    width: 100%;
    background-image: url('../../../public/Cancel_Icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 1px solid black; */
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 4%;
    cursor: pointer;
}
.buttons button{
   
    width: 40%;
    cursor: pointer;
}
.Mix{
    background-color: #228756;
    border: 2px solid #AEC57A;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font: normal normal normal 20px/24px VT323;
    color: #AEC57A;
}
.Reset{
    background-color: #872223;
    border: 2px solid #D59696;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font: normal normal normal 20px/24px VT323;
    color: #D59696;
}